{% extends 'tasks/base_temp.html' %}

{% block content %}
  <h1>Главная страница TASKS</h1>
  <hr />
  {% for t in tasks %}
    <!-- <p class="title">{{ t.title }}</p> -->
    <!-- <p class="id">{{ t.id }}</p> -->
    <a class="title" href="{{ t.get_absolute_url }}">{{ t.title }}</a>
    <p class="status">{{ t.get_status }}</p>
    <p class="content">{{ t.description }}</p>
    <p class="time">Создана {{ t.time_create }}</p>
    <p class="time">Обновлена {{ t.time_update }}</p>
    <hr />
  {% endfor %}
{% endblock %}
