{% load static %}

<!doctype html>
<html lang="ru">
<head>
  <title>{{ title }}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static styles %}" />
</head>
<body>
{% block menu %}
  <nav>
    <a href="{% url 'main' %}">На главную</a>
    {% for m in menu %}
      <a href="{% url m.url_name %}">{{ m.title }}</a>
    {% endfor %}
    {% if user.is_authenticated%}
      <a target="_blank" style="color: green" href="{% url 'users:profile' %}">{{ user.username }}</a>
      <a href="{% url 'users:logout' %}">Выход</a>
    {% else %}
      <a href="{% url 'users:login' %}">Вход</a>
      <a href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}
  </nav>
{% endblock %}
{% block content %} {% endblock %}
</body>
</html>